* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: 'Oswald', sans-serif;
}
/* nav */
nav {
	max-width: 1440px;
	margin: 30px auto;
	text-align: right;
}
nav a {
	display: inline-block;
	padding: 10px;
	margin: 0 20px;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	color: #555;
	text-transform: uppercase;
	text-decoration: none;
}
nav a:hover {
	border-bottom: 2px solid #222;
	color: #222;
}
nav a.btn4 { 	
 	padding: 10px 30px;
 	border: 2px solid #555;
 	margin-right: 80px;
 	margin-left: 100px;
 	font-size: 22px;
 	letter-spacing: 1px; 	
 	transition: 0.3s;
 }
 nav a.btn4:hover {
 	background-color: #4F9E00;
 	border-color: #4F9E00;
 	color: #fff;
 }
/* header */
header {
	height: 40vh;
	background-image: url(img/photo1.jpeg);
	background-position: center;
	background-size: cover;
}
header h1 {
	color: white;
	font-size: 60px;
	text-transform: uppercase;
	text-align: center;
	line-height: 40vh;
	background-color: rgba(0 0 0 0.5);
}

/* main */


/* footer */
